<div style="display: grid; place-items: center;">
    <MudTextField @bind-Value="Search"
                  Clearable="true"
                  Variant="Variant.Outlined"
                  Adornment="Adornment.End" ]
                  AdornmentIcon="@Icons.Material.Filled.Search"
                  AdornmentColor="Color.Secondary"
                  OnAdornmentClick="RealizarBusqueda"
                  style="width: 750px;" />
</div>