<div>
    <MudBadge Color="Color.Error" Visible=@_visible Content=@_peticiones Overlap="true" Bordered="true" Class="mx-6 my-4">
        <MudIcon @onclick="ToggleOpen" Icon="@Icons.Material.Filled.ShoppingCart" Color="Color.Warning" />
    </MudBadge>
    <MudPopover Open="_open" OverflowBehavior="OverflowBehavior.FlipAlways" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Paper="false">
        <MudPaper Outlined="true" Class="px-4 py-8">
            <MudPaper Width="250px" Class="py-3" Elevation="0">

                <MudNavMenu>

                    @foreach (var n in list)
                    {
                        <MudNavLink Href="/">@n.Descripcion: @n.Monto @n.Moneda</MudNavLink>
                    }

                </MudNavMenu>

            </MudPaper>
        </MudPaper>
    </MudPopover>
</div>
