@page "/"

<button @onclick="HandleSubmit">Prueba de refreshToken!!</button>

<AuthorizeView>

    <Authorized>
        <h1>Estamos conectados!</h1>
        <BarraHerramientasConectado userName="@NombreUsuario" />
    </Authorized>

    <NotAuthorized>
        <BarraHerramientasDesconectado />
    </NotAuthorized>

</AuthorizeView>

<CaruselInicio />