@page "/Login"
@page "/Login/{RegistrationSuccess}"
@inject NavigationManager NavigationManager

<MudGrid>
    <MudItem xs="12" sm="7">

        <MudPaper Class="pa-4">

            <h5 class="card-title">Ingresá tu Email,</h5>
            <h5 class="card-title">Teléfono o usuario de</h5>
            <h5 class="card-title">IGift</h5>

            <ReportarProblemaLogin />

        </MudPaper>

    </MudItem>

    <MudItem xs="12" sm="3">

        <MudPaper Class="pa-4 mud-height-full">

            <HandleLogin loginModel="@loginModel" />

        </MudPaper>

    </MudItem>
</MudGrid>
