@page "/Peticiones"

<h3>GrillaPedidos</h3>

<AuthorizeView>

    <Authorized>

    </Authorized>

    <NotAuthorized>
        <TituloDeslogueado />
    </NotAuthorized>

</AuthorizeView>

<PeticionesTable/>
