@page "/Test"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<br />
<br />


@currentTime

<br />
<br />

<MudButton OnClick="DisplayTime" Variant="Variant.Filled" Color="Color.Secondary">Secondary</MudButton>



@code {
    string currentTime = string.Empty;

    void DisplayTime()
    {
        Thread thread = new Thread(() =>
        {
            Thread.Sleep(500);
            currentTime = DateTime.Now.ToString();
            base.InvokeAsync(StateHasChanged);
        });
        thread.Start();
    }
}