<MudCarousel Class="mud-width-full" Style="height:200px;" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="true" TData="object">

    <MudCarouselItem Transition="transition" Style="@Style">
        <div class="d-flex justify-center">
            <MudImage Src="svg/image.jpg" Width="882" Height="250" Elevation="25" Class="rounded-lg ma-4" />
        </div>
    </MudCarouselItem>

    <MudCarouselItem Transition="transition" Style="@Style">
        <div class="d-flex justify-center">
            <MudImage Src="svg/image1.jpg" Width="882" Height="250" Elevation="25" Class="rounded-lg ma-4" />
        </div>
    </MudCarouselItem>

    <MudCarouselItem Transition="transition" Style="@Style">
        <div class="d-flex justify-center">
            <MudImage Src="svg/image2.jpg" Width="882" Height="250" Elevation="25" Class="rounded-lg ma-4" />
        </div>
    </MudCarouselItem>

</MudCarousel>

@code {
    public string Style = "background-color:" + AppConstants.Local.BackgroundColor;
    private Transition transition = Transition.Slide;
}