<div style="background-color:red;height:60px;width:100%;border-collapse:collapse;">


    <MudStack Style="background-color:green" Row="true">
        <MudPaper Style="background-color:yellow"><MudLink Href="#">Trabaja con nosotros</MudLink></MudPaper>
        <MudPaper Style="background-color:transparent"><MudLink Href="#" Typo="Typo.body2">Terminos y condiciones</MudLink></MudPaper>
        <MudPaper Style="background-color:transparent"><MudLink Href="#">Promociones</MudLink></MudPaper>
        <MudPaper Style="background-color:transparent"><MudLink Href="#">Como cuidamos tu privacidad</MudLink></MudPaper>
        <MudPaper Style="background-color:transparent"><MudLink Href="#">Accesibilidad</MudLink></MudPaper>
        <MudPaper Style="background-color:transparent"><MudLink Href="#">Informacion al usuario financiero</MudLink></MudPaper>
        <MudPaper Style="background-color:transparent"><MudLink Href="#">Ayuda</MudLink></MudPaper>
        <MudPaper Style="background-color:transparent"><MudLink Href="#">Defensa al consumidor</MudLink></MudPaper>
        <MudPaper Style="background-color:transparent"><MudLink Href="#">Informacion sobre seguros</MudLink></MudPaper>
        <MudPaper Style="background-color:transparent"><MudLink Href="#">Libro de quejas online</MudLink></MudPaper>
    </MudStack>


</div>
