@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<MudLayout Style="height:1080px;background-color:#181A20">

    <ContenedorLogoPrincipal />

    <MudMainContent>

        <div style="background-color:#181A20" class="flex-grow-1 flex-shrink-1">
            @Body
        </div>

        <MudScrollToTop TopOffset="100">
            <MudAvatar Size="Size.Large">
                <MudImage Src="img/MainLogo.png"></MudImage>
            </MudAvatar>
        </MudScrollToTop>

    </MudMainContent>
</MudLayout>


@code{

    public string BackgroundColor = "#181A20";
}

