@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

 
<MudLayout Style="height:1080px">

      <ContenedorLogoPrincipal/>

    <MudMainContent>

        <div style="background: #f6f7fb" class="flex-grow-1 flex-shrink-1">
            @Body
        </div>

        <MudScrollToTop TopOffset="100">
            <MudFab Icon="@Icons.Material.Filled.KeyboardArrowUp" Color="Color.Primary" />
        </MudScrollToTop>

    </MudMainContent>
</MudLayout>    

