@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Style="height:100vh;background-color:#181A20">

    <BarraHerramientasPrincipal />

    <MudMainContent>

        <div style="background-color:#181A20" class="flex-grow-1 flex-shrink-1">
            @Body
        </div>

        <MudScrollToTop TopOffset="100">
            <MudAvatar Size="Size.Large">
                <MudImage Src="img/MainLogo.png"></MudImage>
            </MudAvatar>
        </MudScrollToTop>

    </MudMainContent>

</MudLayout>


@code {

    public string BackgroundColor = "#181A20";
}

