
<div class="d-flex justify-center">
    <MudImage Src="svg/MainLogo.jpg" ObjectFit="ObjectFit.Fill" ObjectPosition="ObjectPosition.Center" Height="170" Width="830" Alt="Öxarárfoss, Iceland" Elevation="25" Class="rounded-lg" />
</div>