@page "/Login"
@inject NavigationManager NavigationManager


<ContenedorLogoPrincipal />
<br />
<br />

<MudGrid Justify=Justify.Center>
    <MudItem xs="8" sm="5">

        <MudPaper Class="pa-4" Elevation="0" Style="background-color:#C3D0E3">

            <h5 class="card-title">Ingresá tu Email,</h5>
            <h5 class="card-title">Teléfono o usuario de</h5>
            <h5 class="card-title">IGift</h5>

            <MudPaper Width="300px" Square="true" Elevation="0" Style="background-color:transparent">
                <MudList T="string">

                    <p>Reportar un problema</p>

                    <MudNavLink Icon="@Icons.Material.Filled.PhoneAndroid">
                        Robo o pérdida de teléfono
                    </MudNavLink>

                    <MudDivider DividerType="DividerType.Inset" />

                    <MudNavLink Icon="@Icons.Material.Filled.Person">
                        Robo de cuenta
                    </MudNavLink>

                    <MudDivider DividerType="DividerType.Inset" />

                    <MudNavLink>
                        <MudLink Href="#" Typo="Typo.body2">Necesito ayuda con otros temas</MudLink>
                    </MudNavLink>

                </MudList>
            </MudPaper>

        </MudPaper>

    </MudItem>

    <MudItem xs="8" sm="5">

        <MudPaper Class="pa-4 mud-height-full" Style="background-color:#C3D0E3">

            <EditForm Model="loginModel" OnValidSubmit="HandleLoginForm">
                <DataAnnotationsValidator />
                @* 
                    <ValidationSummary /> 
                    Esto es un lugar donde aparecen los mensajes de validation. Podemos usar este o simplemente usar ValidatioNMessage For debajo o arriba de cada input correspondiente
                *@

                <div class="form-group">
                    <label for="email">Email</label>
                    <InputText Id="email" style=@EstiloInputs Class="form-control" @bind-Value="loginModel.Email" />
                    <ValidationMessage For="@(() => loginModel.Email)" />
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <br />
                    <InputText Id="password" style=@EstiloInputs type="password" Class="form-control;" @bind-Value="loginModel.Password" />
                    <ValidationMessage For="@(() => loginModel.Password)" />
                </div>
                <button type="submit" class="btn btn-primary">Continuar</button>
            </EditForm>

        </MudPaper>

    </MudItem>
</MudGrid>
<br />
<CaruselInicio />

@code {
    private string EstiloInputs = "width:200px;";
}
