

<MudContainer MaxWidth="MaxWidth.Large">

    <h4>Opera con USDT sin complicaciones: compra y vende con tus métodos de pago favoritos</h4>

    <MudText>Encuentra las mejores ofertas para comprar y vender... y hacer regalos!</MudText>


    <MudPaper Class=" pa-4 align-start d-flex" Style="width: 400px;" Elevation="0">

        <MudButton Variant="Variant.Filled" Color="Color.Warning">Registrarse</MudButton>


        <MudSpacer />


        <MudButton Variant="Variant.Filled">Iniciar sesión</MudButton>

    </MudPaper>

</MudContainer>


@code {

}
