
<MudContainer MaxWidth="MaxWidth.Large">

    <h4 style="color:white">Opera con USDT sin complicaciones: compra y vende con tus métodos de pago favoritos</h4>

    <MudText style="color:white">Encuentra las mejores ofertas para comprar y vender... y hacer regalos!</MudText>


    <MudPaper Class=" pa-4 align-start d-flex" Style="width:400px;background-color:#181A20" Elevation="0">

        <MudButton Variant="Variant.Filled" Style="color:black;background-color:#E7D98B">Registrarse</MudButton>

        <MudButton Style="color:white;background-color:#2B3139">Iniciar sesión</MudButton>

    </MudPaper>

</MudContainer>




@code {

}
