<MudPaper Elevation="25">
    <MudToolBar>
        @* <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" Class="mr-5" /> *@
        <MudButton>Ofertas</MudButton>
        <MudButton>Peticiones</MudButton>
        <MudButton>Moda</MudButton>
        <MudButton>Electrodomésticos</MudButton>
        <MudButton>Historial</MudButton>
        <MudButton>Ayuda</MudButton>
        <MudSpacer />
        <MudButton>
            <a href=@AppConstants.Routes.Register>Creá tu cuenta</a>
        </MudButton>
        <MudButton>
            <a href=@AppConstants.Routes.Login>Log in</a>
        </MudButton>
    </MudToolBar>
</MudPaper>